<!--
* File: app.component.html
* Author: Orosz Levente
* Copyright: 2023, Orosz Levente
* Group: Szoft-II-N
* Date: 2023-02-08
* Github: https://github.com/Olevente/
* Licenc: GNU GPL
-->

<div class="container">
  <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/calc">BMI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Névjegy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/github">Github</a>
      </li>
  </ul>
    <router-outlet></router-outlet>
  
  
</div>
 
