/*
* File: app.component.scss
* Author: Orosz Levente
* Copyright: 2023, Orosz Levente
* Group: Szoft-II-N
* Date: 2023-02-08
* Github: https://github.com/Olevente/
* Licenc: GNU GPL
*/


.container {
    background-color: whitesmoke;
    border-style: solid;
    border-color: slategray;
    border-radius: 10px;
    
   

}