/*
* File: calc.component.scss
* Author: Orosz Levente
* Copyright: 2023, Orosz Levente
* Group: Szoft-II-N
* Date: 2023-02-08
* Github: https://github.com/Olevente/
* Licenc: GNU GPL
*/


h2{
    text-align: center;
    font-size: 3rem;
	padding: .5rem 0;
}

h3 {
    color: royalblue;
	font-size: 2.5rem;
	font-family: 'Nothing You Could Do', cursive;
	font-weight: 100;
}